[submodule "frontend"]
	path = frontend
	url = https://github.com/FabioSol/AnnotationsAppFrontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/FabioSol/AnnotationsAppBackend.git
